<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
  <head><meta charset="UTF-8">
  <title>List user</title>
</head>
<body>
<h1>Add user</h1>
<form action="#" th:action="@{/user/add}" th:object="${user}" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" th:field="*{name}" required/>

  <label for="email">Email:</label>
  <input type="email" id="email" th:field="*{email}" required/>

  <button type="submit">Add</button>
</form>
<a href="/user">Back to the list of users</a>
</body>
</html>